<!DOCTYPE html>
<html>
	<head>
		<title>Сарчан</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="static/css/main.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div class="jumbotron">
				<h1 style="text-align: center;">Сарчан жив. Он просто спит.</h1>
				<p>Зато пока вы можете сделать себе <a href="/pytooshop">самую модную аватарку</a>.</p>
				<p>Или <a href="http://govnotracker.sarchan.ru/">присоединиться</a> к нашей дружной <a href="http://govnotracker.sarchan.ru/users">команде</a>.</p>
			</div>
		</div>
		
		<!--Scripts are here -->
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="static/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>
